

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reçu de la commande numéro {{ commande.idCommande }}</title>
    <link href={{asset("img/favicon.ico")}} rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href={{asset("lib/animate/animate.min.css")}} rel="stylesheet">
    <link href={{asset("lib/owlcarousel/assets/owl.carousel.min.css")}} rel="stylesheet">
    <link href={{asset("lib/lightbox/css/lightbox.min.css")}} rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href={{asset("css/bootstrap.min.css")}} rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href={{asset("css/style.css")}} rel="stylesheet">

</head>

<body>

<h1 class="text-sm-center">Reçu de la commande numéro {{ commande.idCommande }}</h1>
<img src="C:/Users/Mr/Desktop/GGC--PIDEV-WEB/public/img/LogoGGC.png" alt="Logo">
<h4>Chèr(e) client(e) {{ commande.idClient.idClient.nom }}, nous vous remerçions pour votre confiance.</h4>
<p>Voici le reçu de votre commande, contactez-nous sur "gamergeekscommunity@gmail.som" si vous avez des questions.</p>
<table class="table border-1">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Libellé</th>
        <th>Prix (DT)</th>
        <th>Quantité</th>
        <th>Total(DT)</th>
    </tr>
    </thead>
    <tbody>
    {% for element in dataPanier %}
        <tr>
            <td> <img src="{{ 'C:/Users/Mr/Desktop/GGC--PIDEV-WEB/public/img/uploads/img/'~element.produit.img }}" width="100" higth="100">
            </td>
            <td>{{ element.produit.libelle }}</td>
            <td>{{ element.produit.prix }} </td>
            <td>{{ element.quantite }}</td>
            <td>{{ element.quantite * element.produit.prix }}</td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3">Total:</td>
        <td class="">{{ total }} DT</td>
        <td>

        </td>
    </tr>
    </tfoot>
</table>

</body>
</html>