

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>body{margin-top:20px;
            background:#EBFAFA;
        }

        /*Invoice*/
        .invoice .top-left {
            font-size:65px;
            color:#3ba0ff;
        }

        .invoice .top-right {
            text-align:right;
            padding-right:20px;
        }

        .invoice .table-row {
            margin-left:-15px;
            margin-right:-15px;
            margin-top:25px;
        }

        .invoice .payment-info {
            font-weight:500;
        }

        .invoice .table-row .table>thead {
            border-top:1px solid #ddd;
        }

        .invoice .table-row .table>thead>tr>th {
            border-bottom:none;
        }

        .invoice .table>tbody>tr>td {
            padding:8px 20px;
        }

        .invoice .invoice-total {
            margin-right:-10px;
            font-size:16px;
        }

        .invoice .last-row {
            border-bottom:1px solid #ddd;
        }

        .invoice-ribbon {
            width:85px;
            height:88px;
            overflow:hidden;
            position:absolute;
            top:-1px;
            right:14px;
        }

        .ribbon-inner {
            text-align:center;
            -webkit-transform:rotate(45deg);
            -moz-transform:rotate(45deg);
            -ms-transform:rotate(45deg);
            -o-transform:rotate(45deg);
            position:relative;
            padding:7px 0;
            left:-5px;
            top:11px;
            width:120px;
            background-color:#66c591;
            font-size:15px;
            color:#fff;
        }

        .ribbon-inner:before,.ribbon-inner:after {
            content:"";
            position:absolute;
        }

        .ribbon-inner:before {
            left:0;
        }

        .ribbon-inner:after {
            right:0;
        }

        @media(max-width:575px) {
            .invoice .top-left,.invoice .top-right,.invoice .payment-details {
                text-align:center;
            }

            .invoice .from,.invoice .to,.invoice .payment-details {
                float:none;
                width:100%;
                text-align:center;
                margin-bottom:25px;
            }

            .invoice p.lead,.invoice .from p.lead,.invoice .to p.lead,.invoice .payment-details p.lead {
                font-size:22px;
            }

            .invoice .btn {
                margin-top:10px;
            }
        }

        @media print {
            .invoice {
                width:900px;
                height:800px;
            }
        }</style>
    <title>Reçu de la commande numéro {{ commande.idCommande }}</title>

</head>

<body>

<img src="C:\Users\Mr\Desktop\3ème année\2 sem\pidev\GGC--PIDEV-WEB\public\img\LogoGGC.png" alt="Logo">

<h1 class="text-center">Reçu de la commande numéro {{ commande.idCommande }}</h1>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<h4>Chèr(e) client(e) {{ commande.idClient.idClient.nom }}, nous vous remerçions pour votre confiance.</h4>
<p>Voici le reçu de votre commande, contactez-nous sur "gamergeekscommunity@gmail.som" si vous avez des questions.</p>
<div class="container bootstrap snippets bootdeys">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default invoice" id="invoice">
                <div class="panel-body">
                    <div class="invoice-ribbon"><div class="ribbon-inner">Reçu</div></div>
                    <div class="row">



                        <div class="col-sm-6 top-right">
                            <span class="marginright">{{ "now"|date("m/d/Y") }}</span>
                        </div>

                    </div>
                    <hr>


                    <div class="row table-row ">
                        <table class="table table-striped d-inline-flex justify-content-center">
                            <thead>
                            <tr>
                                <th class="text-center" >Référence</th>
                                <th style="width:50%">Libelle</th>
                                <th class="text-right" >Prix Unitaire</th>
                                <th class="text-right" >Quantité</th>
                                <th class="text-right">Prix Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for element in dataPanier %}
                                <tr>
                                    <td class="text-right">{{ element.produit.reference }}</td>
                                    <td class="text-right">{{ element.produit.libelle }}</td>
                                    <td class="text-right">{{ element.produit.prix }} </td>
                                    <td class="text-right">{{ element.quantite }}</td>
                                    <td class="text-right">{{ element.quantite * element.produit.prix }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="text-left">Total:</td>
                                <td class="text-xl-left">{{ total }} DT</td>
                                <td>

                                </td>
                            </tr>
                        </table>

                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>