{% extends 'base.html.twig' %}

{% block title %}Vote index{% endblock %}

{% block body %}
    <h1>Vote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idclient</th>
                <th>Idpublication</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vote in votes %}
            <tr>
                <td>{{ vote.idclient }}</td>
                <td>{{ vote.idpublication }}</td>
                <td>{{ vote.type }}</td>
                <td>
                    <a href="{{ path('app_vote_show', {'idclient': vote.idclient}) }}">show</a>
                    <a href="{{ path('app_vote_edit', {'idclient': vote.idclient}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_vote_new') }}">Create new</a>
{% endblock %}
