{{ form_start(form,{'attr': {'class': 'panel-activity__status','novalidate': 'novalidate'}}) }}
    {{ form_label(form.object, 'Question:') }}
    {{ form_widget(form.object,{'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.description, 'Contenu:') }}
    {{ form_widget(form.description,{'attr': {'class': 'form-control'}}) }}
    <div class="actions">
        <div class="btn-group">
            <button type="button" class="btn-link" title="" data-toggle="tooltip" data-original-title="Post an Image">
                <i class="fa fa-image"></i>
            </button>
            {{ form_errors(form.object) }}
            {{ form_errors(form.description) }}
        </div>
        <button type="submit" class="btn btn-sm btn-rounded btn-info">
            {{ button_label|default('Publier') }}
        </button>
    </div>
{{ form_end(form) }}