{% extends 'admin/index.html.twig' %}

{% block title %}Liste des livraisons{% endblock %}

{% block body %}
    <h1>Voici les livraisons</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id Commande</th>
                <th>Id Livreur</th>
                <th>Date Livraison</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.idcommande }}</td>
                <td>{{ livraison.idlivreur }}</td>
                <td>{{ livraison.dateheure ? livraison.dateheure|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_livraison_show', {'idcommande': livraison.idcommande}) }}" class="btn btn-outline-info">Consulter</a>
                    <a href="{{ path('app_livraison_edit', {'idcommande': livraison.idcommande}) }}" class="btn btn-outline-secondary" >Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucune ligne trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-primary " href="{{ path('app_livraison_new') }}">Ajouter une livraison</a>
{% endblock %}
