{% use "bootstrap_4_layout.html.twig" %}

<div class="col col-md-5">
    <div class="form-floating">
        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_label(form.reference,"Référence :") }}
        {{  form_widget(form.reference,{'attr':{'class':'form-control'}} ) }}
        {{ form_errors(form.reference) }}
        <br>

        {{ form_label(form.libelle,"Libellé :") }}
        {{ form_widget(form.libelle,{'attr':{'class':'form-control'}} ) }}
        {{ form_errors(form.libelle) }}
        <br>
        {{ form_label(form.categorie,"Catégorie :") }}

        {{ form_widget(form.categorie,{'attr':{'class':'form-control'}} ) }}

        {{ form_errors(form.categorie) }}
        <br>
        {{ form_label(form.description,"Description :") }}
        {{ form_widget(form.description,{'attr':{'class':'form-control'}} ) }}
        {{ form_errors(form.description) }}
        <br>
        {{ form_label(form.prix,"Prix :") }}
        {{ form_widget(form.prix,{'attr':{'class':'form-control'}} ) }}
        {{ form_errors(form.prix) }}<br>

        {{ form_label(form.img,"Image :") }}
        {{ form_widget(form.img,{'attr':{'class':'form-control'}} ) }}
        {{ form_errors(form.img) }}
        <br></div>
    <button type="submit" class="btn btn-primary ">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>