{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <!-- Template Stylesheet -->
    <link href={{asset("css/details.css")}} rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


{% endblock %}


{% block header %}
    <header>
        <div class="container-xxl bg-white p-0">
            <!-- Spinner Start -->
            <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <!-- Navbar Start -->
            <div class="container-xxl position-relative p-0">
                <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                    <a href="" class="navbar-brand p-0">
                        {#<h1 class="m-0"><i class="fa fa-search me-2"></i>SEO<span class="fs-5">Master</span></h1> #}
                        <img src={{asset("img/LogoGGC.png")}} alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="#" class="nav-item nav-link ">Home</a>
                            <a href="#" class="nav-item nav-link">Forum</a>
                            <a href="#" class="nav-item nav-link">Streamers</a>
                            <a href="#" class="nav-item nav-link">Evennements</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Shop</a>
                                <div class="dropdown-menu m-0">
                                    <a href="{{ path('app_produit_shop') }}" class="dropdown-item">Produits</a>
                                    <a href="{{ path('app_commande_show') }}" class="dropdown-item">Commande</a>
                                </div>
                            </div>
                            <a href="{{ path('panier_index') }}" class="nav-item nav-link">Panier</a>
                        </div>
                        <butaton type="button" class="btn text-secondary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                        <a href="#" class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-3">Sign In</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Navbar -->
{% endblock %}
{% block hero %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">

                    <h1 class="text-white mb-4 animated zoomIn"> {{ produit.libelle}} </h1>
                    <p class="text-white pb-3 animated zoomIn">Voici les détails du produit {{ produit.libelle }} et ses avis</p>
                {#     <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Free Quote</a>
                    <a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>#}
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}Shop{% endblock %}

{% block body %}
    <div class="container-fluid bootdey">
        <div class="col-md-12">
            <section class="panel">
                <div class="panel-body row g-3">
                    <div class="col-md-6">
                        <div class="pro-img-details">
                            <img src="{{ asset('uploads/img/')~produit.img }}" alt="">
                        </div>

                    </div>
                    <div class="col-md-6">
                            <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp">

                            <h2 class="mt -2">
                                {{produit.libelle}}
                            </h2>
                            </div>
                        <p>
                            Description : {{ produit.description }}
                        </p>

                        <div class="product_meta">
                            <span class="posted_in"> <strong>Catégorie :</strong> {{ produit.categorie }}</span>
                            <span class="tagged_as"><strong>Note :</strong> {{ produit.note }}</span>
                        </div>

                        <div class="m-bot15"> <strong>Prix : </strong>   {{ produit.prix}}</div>

                        <p>
                            <a href="{{ path('panier_add',{'id':produit.reference}) }}" class="btn btn-round btn-danger" type="button" ><i class="fa fa-shopping-cart"></i> Ajouter au panier</a>
                        </p>


                    </div>
                </div>
            </section>
        </div>
    </div>



    <!-- Testimonial Start -->
    <div class="container-xxl bg-primary testimonial py-5 wow fadeInUp" data-wow-delay="0.1s" style="margin: 6rem 0;">
        <div class="container py-5 px-lg-5">
            <div class="owl-carousel testimonial-carousel">

                {% for avi in avis %}
                <div class="testimonial-item bg-transparent border rounded text-white p-4">
                    <i class="fa fa-quote-left fa-2x mb-3"></i>
                    <p> {{ avi.description }}</p>
                    <div class="d-flex align-items-center">
                        {# <img class="img-fluid flex-shrink-0 rounded-circle" src="img/testimonial-1.jpg" style="width: 50px; height: 50px;"> #}
                        <div class="ps-3">
                            <h6 class="text-white mb-1">Client Name: {{ avi.idclient.idclient.nom }}</h6>
                            <small>{{ avi.type }}</small>
<br>                        {% if (avi.idclient.idclient.idPersonne == 6) %}
                                <a class="btn btn-outline-primary fa fa-trash-alt rounded-pill px-3 py-2 col" href="{{ path('app_avis_delete', {'idavis': avi.idavis }) }}"></a>
                                <a class="btn btn-outline-primary rounded-pill px-3 py-2 col" href="{{ path('app_avis_edit', {'idavis': avi.idavis, 'reference': produit.reference }) }}">Modifier</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <a href="{{ path("app_avis_new", {'reference': produit.reference}) }}" class="btn btn-outline-primary"> Donner Avis</a>

{% endblock %}
