{% extends 'admin/index.html.twig' %}
{% use "bootstrap_4_layout.html.twig" %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
    <div class="container">
        {{ include('produit/remise.html.twig') }}
    </div>
    <div class="container mt-5">
        <h1 class="d-flex justify-content-center">Liste des produits</h1>

        <table class="table ">
            <thead>
            <tr>
                <th>Reference</th>
                <th>Libelle</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.reference }}</td>
                    <td>{{ produit.libelle }}</td>
                    <td>{{ produit.categorie }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix }}</td>
                    <td>{{ produit.note }}</td>
                    <td>
                        <a href="{{ path('app_produit_show', {'reference': produit.reference}) }}"
                           class="btn btn-outline-info">Consulter</a>
                        <a href="{{ path('app_produit_edit', {'reference': produit.reference}) }}"
                           class="btn btn-outline-secondary">Modifier</a>


                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">aucun produit trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-outline-primary " href="{{ path('app_produit_new') }}">Ajouter un produit</a>
    <a href="{{ path('app_produit_note',{'reference':0}) }}" class="btn btn-outline-dark ">Notes produits</a>

{% endblock %}
