{% extends 'base.html.twig' %}

{% block title %}Liste des Produit{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Libelle</th>
                <th>Categorie</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.libelle }}</td>
                <td>{{ produit.categorie }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.note }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'reference': produit.reference}) }}" class="btn btn-link">Consulter</a>
                    <a href="{{ path('app_produit_edit', {'reference': produit.reference}) }}" class="btn ">Modifier</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}
