{% extends 'admin/index.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Reference</th>
                <th>Datedebut</th>
                <th>Datefin</th>
                <th>Localisation</th>
                <th>Description</th>
                <th>Nbrparticipant</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.reference }}</td>
                <td>{{ evenement.datedebut ? evenement.datedebut|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.localisation }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.nbrparticipant }}</td>
                <td>{{ evenement.titre }}</td>
                                <td>

                    <a href="{{ path('show',{'reference': evenement.reference}) }}">
                        <img src="{{ asset('images/'~evenement.photo) }}" alt="  {{ evenement.photo }}" width="80" height="80"></a></td>
                <td>
                    <a href="{{ path('show', {'reference': evenement.reference}) }}">show</a>
                    <a href="{{ path('edit', {'reference': evenement.reference}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('newevent') }}">Create new</a>
{% endblock %}
