{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}


    <h1>Evenement</h1>

    <table class="table">
        <tbody>
        </tr>
            <a href="{{ path('event',{'reference': evenement.reference}) }}">
                        <img src="{{ asset('images/'~evenement.photo) }}" alt="  {{ evenement.photo }}" width="250" height="250"></a></td>
                <td>
                </tr>
          
            <tr>
                <th>Datedebut</th>
                <td>{{ evenement.datedebut ? evenement.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ evenement.datefin ? evenement.datefin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ evenement.localisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Nbrparticipant</th>
                <td>{{ evenement.nbrparticipant }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
        </tbody>
         {{ include('evenement/partagerEvent.html.twig') }}
    </table>

    <a href="{{ path('event') }}">back to list</a>

    <a href="{{ path('edit', {'reference': evenement.reference}) }}">edit</a>
<a href="{{ path('addParticipation',{'id': evenement.reference }) }}" class="btn">participer</a>
    {{ include('evenement/_delete_form.html.twig') }}
      <iframe style="border:0; width: 100%; height: 350px;" class="img-fluid" src="https://maps.google.com/maps?q=+{{evenement.localisation }}+&hl=fr&z=14&amp;output=embed
" frameborder="0" allowfullscreen></iframe>              <div class="map-wrapper-300 mb-3">      <!-- Modal -->
{% endblock %}
