{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}
{% block stylesheets %}
    {{ parent() }}

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href={{asset("css/shop.css")}} rel="">

{% endblock %}

{% block header %}
    <header>

        <div class="container-xxl bg-white p-0">
            <!-- Spinner Start -->
            <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->


            <!-- Navbar Start -->
            <div class="container-xxl position-relative p-0">
                <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                    <a href="" class="navbar-brand p-0">
                        {#<h1 class="m-0"><i class="fa fa-search me-2"></i>SEO<span class="fs-5">Master</span></h1> #}
                        <img src={{asset("img/LogoGGC.png")}} alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto py-0">
                            <a href="#" class="nav-item nav-link ">Home</a>
                            <a href="#" class="nav-item nav-link">Forum</a>
                            <a href="#" class="nav-item nav-link">Streamers</a>
                            <a href="#" class="nav-item nav-link">Evennements</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Shop</a>
                                <div class="dropdown-menu m-0">
                                    <a href="{{ path('app_produit_shop') }}" class="dropdown-item">Produits</a>
                                    <a href="{{ path('app_commande_show') }}" class="dropdown-item">Commande</a>
                                </div>
                            </div>
                            <a href="{{ path('panier_index') }}" class="nav-item nav-link">Panier</a>
                        </div>
                        <butaton type="button" class="btn text-secondary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                        <a href="#" class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-3">Déconnexion</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- Navbar -->
{% endblock %}
{% block hero %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">

                    <h1 class="text-white mb-4 animated zoomIn">Commandes :</h1>
                    <p class="text-white pb-3 animated zoomIn">Voici toutes vos commande déja passer </p>

                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <!-- Service Start -->
    <div class="container-xxl ">
        <div class="container ">
            <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="position-relative d-inline text-primary ps-4">Vos commandes</h6>
                <h2 class="mt-2">Vous pouvez consultez les détails de vos commandes</h2>
            </div>

            <div class="row g-4">

                {% for commande in commandes %}
                    <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                        <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-home fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Commande N°{{ commande.idcommande }}</h5>
                            <p>Livrée : {{ commande.livree ? 'Oui' : 'Non' }}</p>
                            {% if commande.livree %}
                                <p>Livrée à {{ commande.adresse }}</p>
                            {% else %}
                                <p>Sera livrée à {{ commande.adresse }}</p>
                            {% endif %}
                            <p>Commande passée le {{ commande.datecommande ? commande.datecommande|date('Y-m-d') : '' }}</p>
                            <h5>Prix total : {{ commande.prix }} DT</h5>
                            <a href="{{ path('app_lignecommande_show', {'idcommande': commande.idcommande}) }}" class="btn px-3 mt-auto mx-auto">Détails</a>
                            <a>{{ include('commande/_delete_form.html.twig') }}</a>
                        </div>
                    </div>
                {% else %}
                <p class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp">Vous n'avez passé aucune commande</p>
                {% endfor %}
                <div class="d-inline-flex justify-content-center">
                    {{ knp_pagination_render(commandes, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

{% endblock %}
