{% extends 'base.html.twig' %}

{% block title %}Commande détaillée {% endblock %}

{% block hero %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">

                    <h1 class="text-white mb-4 animated zoomIn">Commande :</h1>
                    <p class="text-white pb-3 animated zoomIn">Voici les produits que vous avez commandez </p>

                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block body %}
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp">
        <h2 class="mt-2">  Voici les détails de votre commande </h2>
    </div>    </section>


    <table class="table">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Libellé</th>
            <th>Quantite</th>
            <th>Prix</th>
        </tr>
        </thead>
        <tbody>
        {% set total=0 %}

        {% for lignecommande in lignes %}
            {% set total=total+ lignecommande.prix  %}

            <tr>
                <td><div class="zoom">
                        <img src="{{ asset('uploads/img/')~lignecommande.idproduit.img }}" width="100" higth="100">
                    </div></td>
                <td>{{ lignecommande.idproduit.libelle }}</td>
                <td>{{ lignecommande.quantite }}</td>
                <td>{{ lignecommande.prix }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun produit trouvé dans cette commande</td>
            </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <td> Prix Total : </td>
            <td class="text-primary">{{ total }} DT</td>
        </tr>
        </tfoot>
        </tbody>
    </table>
    <div class="">
        <a href="{{ path('app_commande_show') }}" class="btn btn-outline-dark rounded-pill"><i class="bi bi-arrow-left"></i></a>


    </div>



{% endblock %}
