{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block hero %}
    <div class="container-xxl py-5 bg-primary hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">

                    <h1 class="text-white mb-4 animated zoomIn">Comandez ce que vous voulez</h1>
                    <p class="text-white pb-3 animated zoomIn">Voici votre panier </p>
                    {#     <a href="" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Free Quote</a>
                        <a href="" class="btn btn-outline-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>#}
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class=" p-3">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp">
            <h2 class="mt-2">  Validez votre commande </h2>
        </div>    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Libellé</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <td><div class="zoom">
                            <img src="{{ asset('uploads/img/')~element.produit.img }}" width="100" higth="100">
                        </div></td>
                    <td>{{ element.produit.libelle }}</td>
                    <td>{{ element.produit.prix }} Dt</td>
                    <td>{{ element.quantite }}</td>
                    <td>{{ element.quantite * element.produit.prix }} Dt</td>
                    <td>
                        <a href="{{path("panier_add", {id: element.produit.reference})}}" class="btn btn-outline-success rounded-pill">
                            +
                        </a>
                        <a href="{{path("panier_remove", {id: element.produit.reference})}}" class="btn btn-outline-dark rounded-pill">
                            -
                        </a>
                        <a href="{{path("panier_delete", {id: element.produit.reference})}}" class="btn btn-close rounded-pill">
                            <i class="bi bi-panier-x"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
        <a href="{{ path('app_produit_shop') }}"class="btn btn-outline-dark rounded-pill"><i class="bi bi-arrow-left"></i></a>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="">{{ total }} DT</td>
                <td>

                </td>
            </tr>
        </tfoot>
    </table>
    <div class="d-flex justify-content-center">
    {% if (dataPanier is not empty) %}
    <a href="{{ path('app_commande_new') }}" class ="btn btn-outline-primary"  >Valider</a>
    {% endif %}
    <a href="{{path("panier_delete_all")}}" class="btn btn-outline-danger">
        <i class="bi bi-panier-x"></i>Annuler
    </a>
    </div>
{% endblock %}