{% extends 'mail.html.twig' %}

{% block content %}
    <h1><span>Votre commande vous sera prochainement livrée!</span></h1>

    <h3>Bonjour Mr/Mme {{ client.idclient.nom }},</h3>
    <h4>Nous vous informons que votre commande N°{{ commande.idcommande }} vous sera livrée le {{ livraison.dateheure ? livraison.dateheure|date('Y-m-d') : '' }} à l'adresse : {{ commande.adresse }}</h4>
    <h4>Veuillez contactez votre livreur Mr {{ livreur.idlivreur.prenom }} {{ livreur.idlivreur.nom }} en cas de besoin sur :</h4>
    <h4>Numéros de téléphone : {{ livreur.idlivreur.telephone }}</h4>
    <h4>Adresse Mail : {{ livreur.idlivreur.email }}</h4>
{% endblock %}