
    <h1>Bonjour Mr/Mme {{ client.idclient.nom }}</h1>
    <p>Nous nous excusons pour le retard de la livraison de votre commande, pour y remédier nous vous offrons 50% de remise

    <p>Le nouveau prix de votre commande :{{ commande.prix }}</p>
    <p>Veuillez contactez votre livreur Mr {{ livreur.idlivreur.prenom }} {{ livreur.idlivreur.nom }} en cas de besoin sur :</p>
    <p>Numéros de téléphone : {{ livreur.idlivreur.telephone }}</p>
    <p>Adresse Mail : {{ livreur.idlivreur.email }}</p>

