{% extends 'base.html.twig' %}

{% block title %}Streamer{% endblock %}

{% block body %}
    <h1>Streamer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Informations</th>
                <td>{{ streamer.informations }}</td>
            </tr>
            <tr>
                <th>Lienstreaming</th>
                <td>{{ streamer.lienstreaming }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_streamer_index') }}">back to list</a>

    <a href="{{ path('app_streamer_edit', {'idstreamer': streamer.idstreamer.idPersonne}) }}">edit</a>

    {{ include('streamer/_delete_form.html.twig') }}
{% endblock %}
