{% extends 'admin/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href={{asset("css/shop.css")}} rel="">

{% endblock %}
{% block title %}Livraison{% endblock %}

{% block body %}
    <h1>Livraison</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcommande</th>
                <td>{{ livraison.idcommande }}</td>
            </tr>
            <tr>
                <th>Idlivreur</th>
                <td>{{ livraison.idlivreur }}</td>
            </tr>
            <tr>
                <th>Dateheure</th>
                <td>{{ livraison.dateheure ? livraison.dateheure|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livraison_index') }}" class="btn btn-outline-info">retour vers la liste</a>


    {{ include('livraison/_delete_form.html.twig') }}
{% endblock %}
